:root {
  --dark: #141414;
  --light: #d9d9d9;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: "Roboto", system-ui;
  margin: 0;
  background-color: var(--dark);
  color: var(--light);

  font-size: 10px;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
