---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Alfie Pearce">
  <Navbar />

  <p>{mediaPath}</p>

  <main>
    <Hero />

    <Projects />

    <Skills />

    <Work />
  </main>

  <Footer />
</Layout>
