<footer id="contact">
  <h2>Contact</h2>

  <div class="footer-links">
   <a href="mailto:alfiewpearce@gmail.com">
     Email
   </a>
  
   <a href="https://github.com/AlfieWPearce">
     Github
   </a>
  </div>

  <p class="copyright">
    © 2026 Alfie Pearce
  </p>

</footer>
