<section id="Manifesto">
  <h2>About me</h2>
  
  <p>Hi! I'm Alfie, an aspiring software developer who has enjoyed programming since I was young. My interest in software began through video games - I wanted to understand how they were made, so I started creating my own. One of my favourite projects is 
  <a href="#asteroid-shooter"Asteroid Shooter></a> 
  I built in Scratch when I was 11. It was surprisingly polished and it is still fun to play today.</p>

  <p>I enjoy building full-stack applications, although I have a particular interest in frontend development becayse I love seeing ideas come to life. I'm always looking to expand my skills, with .NET currently high on the list of technologies I'd like to explore.</p>

  <p>Outside of programming I have a wide range of interests. I enjoy astronomy, gaming, robotics and history, and I like learning how things work. When I'm not at the computer, you'll often find me playing table tennis, badminton, swimming, golfing, reading, baking food or listening to music. I play a little ukulele and keyboard, enjoy drawing and even experimenting with composing music from time to time (though mostly for game projects).</p>

  <p>I am currently in Year 13 and am nowlooking to move directly into a software devlopment role. My focus is gaining real-world experience and continuing to grow through practical, project-based learning.</p>
</section>
