<section id="skills">
  <h2>Skills | Tooling Laguages Frameworks</h2>
  <p align="center">
    <a href="https://skillicons.dev">
      <img src="https://skillicons.dev/icons?i=git,github,linux,bash,windows,blender,unity,cs,cpp,cmake,html,css,js,p5js,ts,npm,vite,astro,lua,py,sqlite,vscode,neovim,obsidian&perline=8" />
    </a>
  </p>
</section>
