---
import "../styles/global.css";
import "../styles/layout.css";
import "../styles/components.css";

import "../background/main";

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{title}</title>
  <link rel="icon" href={`${import.meta.env.BASE_URL}/media/favicon.ico`} />
</head>
<body>
  <canvas id="background"></canvas>

  <slot />
</body>
</html>
